body {
    margin: 0;
    padding: 0;
}

html {
    background: rgb(204,92,255);
    background: linear-gradient(315deg, rgba(204,92,255,1) 0%, rgba(102,211,255,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

p {
    color: white;
}

img {
    text-align: center;
    margin-top: 7.5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5%;
}

h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 0;
    padding: 2.5%;
}

.wrapper {
    text-align: center;
}

.button-wrapper {
    display: inline-block;
    margin: auto;
    width: 30%;
}

.button {
    margin: 10% 0;
    padding: 8% 10%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    outline: none;
    display: block;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.button:hover {
    background-color: white;
    color: gray;
    border: 1px solid white;
    transform: scale(1.05);
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }

.loading-wrapper {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    margin-top: -32px;
    display: none;
}
